#s-03c10163-d5d2-4cb9-875d-c17100267b30 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03c10163-d5d2-4cb9-875d-c17100267b30 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03c10163-d5d2-4cb9-875d-c17100267b30 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03c10163-d5d2-4cb9-875d-c17100267b30 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03c10163-d5d2-4cb9-875d-c17100267b30 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03c10163-d5d2-4cb9-875d-c17100267b30 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03c10163-d5d2-4cb9-875d-c17100267b30 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03c10163-d5d2-4cb9-875d-c17100267b30 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03c10163-d5d2-4cb9-875d-c17100267b30 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03c10163-d5d2-4cb9-875d-c17100267b30 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03c10163-d5d2-4cb9-875d-c17100267b30 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03c10163-d5d2-4cb9-875d-c17100267b30 #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03c10163-d5d2-4cb9-875d-c17100267b30 #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03c10163-d5d2-4cb9-875d-c17100267b30 #s-Image_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03c10163-d5d2-4cb9-875d-c17100267b30 #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-03c10163-d5d2-4cb9-875d-c17100267b30 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}