#s-548e15b8-cd75-4c08-a336-f83e78b710ee #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-548e15b8-cd75-4c08-a336-f83e78b710ee #s-volume_off {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-548e15b8-cd75-4c08-a336-f83e78b710ee #s-Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-548e15b8-cd75-4c08-a336-f83e78b710ee #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-548e15b8-cd75-4c08-a336-f83e78b710ee #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-548e15b8-cd75-4c08-a336-f83e78b710ee #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-548e15b8-cd75-4c08-a336-f83e78b710ee #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-548e15b8-cd75-4c08-a336-f83e78b710ee #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-548e15b8-cd75-4c08-a336-f83e78b710ee #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-548e15b8-cd75-4c08-a336-f83e78b710ee #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-548e15b8-cd75-4c08-a336-f83e78b710ee #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-548e15b8-cd75-4c08-a336-f83e78b710ee #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-548e15b8-cd75-4c08-a336-f83e78b710ee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}