#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Picture_user {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Label_name_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Image_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Label_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Image_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Label_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Image_125 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Two-line-item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-phone_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Image_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Two-line-item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Image_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Two-line-item_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Image_126 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Two-line-item_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-hangout_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Two-line-item_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-hangout_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-Ellipse_24 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f #s-plus_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-84ff6b9a-63a6-4f59-a57d-f4438e7ce19f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}