#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Map {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Pinmap {
  -ms-transform: rotate(270.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Components_panel_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-menu_3 {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-mic_1 {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Pinmap_2 {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Pinmap_3 {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Pinmap_4 {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Pinmap_5 {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Text {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-volume_off {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-tap-button_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-directions_1 {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-button_3 {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-tap-button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-located-fixed_1 {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-layers {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Panel_2 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #E91E63;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #E91E63;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #E91E63;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #E91E63;
  border-radius: 5px 5px 5px 5px;
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 22px 22px 22px 22px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 22px;
  width: 65px;
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Panel_3 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #E91E63;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #E91E63;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #E91E63;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #E91E63;
  border-radius: 5px 5px 5px 5px;
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 22px 22px 22px 22px;
  padding-top: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  height: 22px;
  width: 65px;
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-93352cba-8a9c-4722-beb2-14fa171577bc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}