#s-96b2971a-dc08-4df1-992a-ed840be29419 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96b2971a-dc08-4df1-992a-ed840be29419 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96b2971a-dc08-4df1-992a-ed840be29419 #s-Button_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96b2971a-dc08-4df1-992a-ed840be29419 #s-Button_14 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96b2971a-dc08-4df1-992a-ed840be29419 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96b2971a-dc08-4df1-992a-ed840be29419 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96b2971a-dc08-4df1-992a-ed840be29419 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96b2971a-dc08-4df1-992a-ed840be29419 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96b2971a-dc08-4df1-992a-ed840be29419 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96b2971a-dc08-4df1-992a-ed840be29419 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96b2971a-dc08-4df1-992a-ed840be29419 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96b2971a-dc08-4df1-992a-ed840be29419 #s-star_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96b2971a-dc08-4df1-992a-ed840be29419 #s-star_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96b2971a-dc08-4df1-992a-ed840be29419 #s-star_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96b2971a-dc08-4df1-992a-ed840be29419 #s-star_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-96b2971a-dc08-4df1-992a-ed840be29419 #s-star {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-96b2971a-dc08-4df1-992a-ed840be29419 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}