#s-c143f676-1fa3-4670-bf49-c730254438b5 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c143f676-1fa3-4670-bf49-c730254438b5 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c143f676-1fa3-4670-bf49-c730254438b5 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c143f676-1fa3-4670-bf49-c730254438b5 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c143f676-1fa3-4670-bf49-c730254438b5 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c143f676-1fa3-4670-bf49-c730254438b5 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c143f676-1fa3-4670-bf49-c730254438b5 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-c143f676-1fa3-4670-bf49-c730254438b5 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-c143f676-1fa3-4670-bf49-c730254438b5 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c143f676-1fa3-4670-bf49-c730254438b5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}