#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Black-cover {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=24);
  filter: alpha(opacity=24);
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-VG > .valign {
  vertical-align: top;
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Image_17 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Image_15 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-HG {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-HG > .valign {
  vertical-align: top;
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Nave {
  border-collapse: separate;
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Cell_4 > .valign {
  vertical-align: middle;
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Photos_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Label_53 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Cell_5 > .valign {
  vertical-align: middle;
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Amlbims_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Label_52 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Cell_6 > .valign {
  vertical-align: middle;
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Assistant_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Label_54 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Cell_1 > .valign {
  vertical-align: middle;
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Amlbims_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Label_55 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Components_panel {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 8px 8px 8px 8px;
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-more-vertical_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d5a70329-e429-4d04-b67a-50114b730bfb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}