#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Button_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Line_1 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Line_1 {
  stroke-width: 2px;
  stroke: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Button_2 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Button_3 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}