#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-f3b8b2de-e1b1-4b8d-a0a5-7a14940f6460 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}